body{
    font-family: 'Happy Monkey';
    text-align: center;
    background: linear-gradient(powderblue,rgb(255, 196, 87));
    color: black;
}

h1, h2, h3, h4, p{
    text-shadow: 0 0 2px powderblue;
}
#img{
    border-radius: 50%;
    width: 150px;
    border: 3px solid blue;
}
#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#age{
    background: blue;
    color: yellow;
    text-shadow: 0 0 2px black;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}
#date{
    background: blue;
    color: yellow;
    text-shadow: 0 0 2px black;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0px;
}
.gift{
    width: 400px;
    height: 400px;
    margin-top: 5px;
    border: 6px solid red;
    border-radius: 10px;
    background-image: url(gift.jpg);
    margin: 0 auto;
    background-size: cover;
}
.hover{
    margin-top: 0;
    margin-bottom: 5px;
}
.happy{
    margin-bottom: 2px;
}
.gift-section{
    margin-top: 50px;
}
#gift-1:hover{
    background-image: url(giphy.gif);
    background-size: cover;
}
#gift-2:hover{
    background-image: url(kakashi.gif);
    background-size: cover;
}
#describe:hover{
    background-image: url(124983.gif);
    background-size: cover;
}
#badass:hover{
    background-image: url(kurama.gif);
    background-size: cover;
}
#hinata:hover{
    background-image: url(hinata.gif);
}
#hinata{
    height: 200px;
    margin-bottom: 0;
}
#footer{
    width: 400px;
    font: italic;
    margin: 40px auto 20px auto;
}
a{
    color: black;
}